.recipeItem {
  border: 3px solid black;
  border-bottom: none;
}

.commentList {
  color: azure;
  font-weight: bolder;
}
.App {
  background-image: url(https://images.unsplash.com/photo-1600956306204-d6a5c6aab472?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.forumHome {
  background-image: url(https://images.unsplash.com/photo-1600347992445-98410acd88a3?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8YnJld2luZyUyMG9mJTIwYmVlcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.homebutton {
  display: inline;
  justify-content: center;
  margin: 10px;
  background-color: goldenrod;
  border-radius: 10px;
  border: 1px solid white;
  size: 25px;
}

.navLink {
  display: flex;
  justify-content: flex-end;
  color: white;
  padding: 12px;
}
