.recipeItem {
  border: 3px solid black;
  border-bottom: none;
}
.App {
  background-color: skyblue;
  background-image: url(https://images.unsplash.com/photo-1600956306204-d6a5c6aab472?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.homebutton {
  align-items: center;
  margin: 10px;
  background-color: goldenrod;
  border-radius: 10px;
  border: 1px solid white;
}

.navLink {
  display: flex;
  justify-content: flex-end;
  color: aliceblue;
  padding: 12px;
}
